.todo-container {
  display: flex;
  flex-direction: column;
  padding: 2vw;
  width: 100%;
  overflow: hidden;
}

.todo-input-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 0.5vw;
  width: 20%;
}

.add-todo-button {
  margin-left: 0.2vw;
}